@use "../../abstracts" as *;

.subscribe {
  padding: $gap-lg 0;
  background-color: $color-primary;

  @include md-sm {
    padding: $gap 0;
  }

  @include sm {
    padding: $gap 0;
  }

  &__title {
    @include visually-hidden();
  }

  &__form {
    display: grid;
    gap: $gap;

    grid-template-rows: repeat(1, 1fr);
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: "first second third";
    margin-left: 310px;
    margin-right: 310px;

    @include lg-md {
      margin-left: 20px;
      margin-right: 20px;
    }

    @include md-sm {
      margin-left: 20px;
      margin-right: 20px;

      // Define grid layout for md-sm
      grid-template-rows: repeat(2, auto);
      grid-template-columns: repeat(2, 1fr);
      grid-template-areas:
        "first first"
        "second third";

    }

    @include sm {
      margin: 0 20px;
      grid-template-rows: repeat(3, auto);
      grid-template-columns: repeat(1, 1fr);
      grid-template-areas:
        "first"
        "second" 
        "third";
    } 
  }
}
